<div fxLayoutAlign="center center">
  <mat-form-field fxFlex="60%">
    <input matInput type="text"  placeholder="filtre por nombre">
  </mat-form-field>
</div>
<mat-table [dataSource]="dataSource" matSort (matSortChange)="sortColumns($event)">
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Titulo</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.title }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef mat-sort-header>descripcion</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.description }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="autor">
    <mat-header-cell *matHeaderCellDef mat-sort-header>autor</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.autor.completeName }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef mat-sort-header>precio</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.price }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="desployColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: desployColumns"></mat-row>
</mat-table>

<mat-paginator (page)="eventPaginator($event)" #pagination [pageSize]="booksByPage" [pageSizeOptions]="pageCombo" [length]="totalBooks"></mat-paginator>

<button mat-fab id="botton-agregate" color="warn" (click)="openDialog()">
  <mat-icon>add</mat-icon>
</button>
