<form #fDialog="ngForm" (ngSubmit)="saveBook(fDialog)">
  <h2 mat-dialog-title>Añadir nuevo libro</h2>
  <mat-dialog-content>
    <section fxLayoutAlign="center">
      <mat-card fxFlex="100%">
        <div
          fxLayout="column"
          fxLayoutAlign="center center"
          fxLayoutGap="10px"
        >
          <mat-form-field>
            <mat-label>Ingrese Titulo</mat-label>
            <input
              type="text"
              matInput
              placeholder="Nombre del Libro"
              name="title"
              ngModel
              required
            />
            <mat-error>Debe ingresar el titulo del libro</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Ingrese Descripcion</mat-label>
            <input
              type="text"
              matInput
              placeholder="Descripcion del Libro"
              name="descripcion"
              ngModel
              required
            />
            <mat-error>Debe ingresar la descripcion del libro</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Ingrese precio</mat-label>
            <input
              type="text"
              matInput
              placeholder="Precio del Libro"
              name="price"
              ngModel
              required
            />
            <mat-error>Debe ingresar el precio del libro</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Seleccione autor</mat-label>
            <mat-select
              [(ngModel)]="selectAutor"
              name="autor"
              (selectionChange)="selected($event)"
            >
            <mat-option *ngFor="let autor of autors" [value]="autor._id">{{autor.name + " " + autor.surname}}</mat-option>
              </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              placeholder="Seleccione la fecha publicacion"
              [matDatepicker]="picker"
              name="publicationDate"
              [(ngModel)]="publicationDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </mat-card>
    </section>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button type="submit">Guardar</button>
    <button mat-button [mat-dialog-close]="true">Cerrar</button>
  </mat-dialog-actions>
</form>
