<!--Prueba git conflictos-->
<mat-sidenav-container>
  <mat-sidenav #menu role="navigation">
    <app-menu-lista (menuToggle)="menu.close()"></app-menu-lista>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-barra (menuToggle)="menu.toggle()"></app-barra>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <h1>Mi App Angular</h1>
<a routerLink="/">Inicio</a><br>
<a routerLink="/libros">Libros Favoritos</a>-->

<!-- <button mat-raised-button color="primary"><mat-icon>account_circle</mat-icon>   Mi Primer Boton</button> -->
